<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbu.mapper.GarbageDataMapper">
    <select id="getData" resultMap="garbageData">
        select * from garbage_data
    </select>

    <resultMap id="garbageData" type="GarbageData">
        <collection property="numbers"  ofType="Integer" autoMapping="true">
            <result column="gd_mount"></result>
        </collection>
        <collection property="years"  ofType="Integer" autoMapping="true">
            <result column="gd_time"></result>
        </collection>
    </resultMap>
</mapper>