<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbu.mapper.WaterDataMapper">
    <select id="getData" resultMap="waterData">
        select * from sewage_data
    </select>

    <resultMap id="waterData" type="WaterData">
        <collection property="numbers"  ofType="Integer" autoMapping="true">
            <result column="sd_mount"></result>
        </collection>
        <collection property="years"  ofType="Integer" autoMapping="true">
            <result column="sd_time"></result>
        </collection>
    </resultMap>
</mapper>